/* Primary Colours */
$bandSite-black: #323232; /* Primary text color for dark on light background. Dark background color */
$silver: #afafaf; /* Secondary text color. Inactive CTA text color */
$white: #ffffff; /* SPrimary text color for light on dark background. Light background color. Active CTA text color. */

/* Secondary Colours */
$bandSite-DarkBlack: #000000; /*  CTA hover state.*/
$mercury: #e1e1e1; /* Divider line. Form field outline.*/
$Alabaster: #fafafa; /*  Alternative light background color. */
