@use '../breakpoints' as *;
@use '../colours' as *;
@use '../fontFaces' as *;

.footer {
  display: flex;
  background-color: $bandSite-black;
  color: $white;

  .footer__container {
    display: flex;
    flex-direction: column;

    .footer__header {
      font-family: 'Avenir Bold';
    }

    .footer__top-row {
      display: flex;
    }

    .footer__social-icon-row {
      display: flex;

      .footer__social-icon {
        width: 25px;
        height: 25px;
        margin-right: 32px;
      }
    }

    .footer__contact-info-row {
      display: flex;

      .footer__contact-name {
        margin: 0;
        font-family: 'Avenir Demi';
        font-size: 0.813rem;
      }

      .footer__contact-company {
        margin: 0;
        font-family: 'Avenir Demi';
        font-size: 0.813rem;
      }

      .footer__address,
      .footer__contact-email,
      .footer__contact-position {
        line-height: 1.125rem;
        font-size: 0.813rem;
      }
    }

    .footer__band-copyright {
      line-height: 1.125rem;
      font-size: 0.813rem;
    }
    .footer__logo {
      width: 120px;
      height: auto;
    }
  }
}

/* for small layout */
@include small() {
  .footer__container {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    position: relative;

    .footer__top-row {
      flex-direction: column;

      .footer__header {
        font-size: 1.5rem;
        padding-bottom: 16px;
      }
    }

    .footer__contact-info-row {
      flex-direction: column;
      padding-top: 16px;

      .footer__contact-info-block {
        padding-top: 16px;
      }
    }

    .footer__logo {
      position: absolute;
      bottom: 60px;
    }

    .footer__band-copyright {
      padding-top: 36px;
    }
  }
}

/* Medium Layout */

@include medium() {
  .footer__container {
    width: 100%;
    padding-top: 48px;
    padding-left: 36px;
    padding-right: 36px;

    .footer__top-row {
      align-items: center;
      position: relative;

      .footer__header-holder {
        width: 180px;
        margin-right: 50px;

        .footer__header {
          font-size: 1.5rem;
          width: 100%;
        }
      }

      .footer__logo {
        position: absolute;
        right: 0px;
      }
    }

    .footer__contact-info-row {
      flex-direction: row;

      .footer__contact-info-block {
        width: 180px;
        padding-top: 36px;
        margin-right: 50px;
      }
    }

    .footer__band-copyright {
      padding-top: 36px;
    }
  }
}

/* Large layout */

@include large() {
  .footer__container {
    width: 100%;
    padding-top: 48px;
    padding-left: 63px;
    padding-right: 63px;

    .footer__top-row {
      align-items: center;
      position: relative;

      .footer__header-holder {
        width: 180px;
        margin-right: 100px;

        .footer__header {
          font-size: 1.5rem;
          width: 100%;
        }
      }

      .footer__logo {
        position: absolute;
        right: 0px;
      }
    }

    .footer__contact-info-row {
      flex-direction: row;

      .footer__contact-info-block {
        padding-top: 36px;
        width: 180px;
        margin-right: 100px;
      }
    }

    .footer__band-copyright {
      padding-top: 36px;
    }
  }
}
