@use '../breakpoints' as *;
@use '../colours' as *;
@use '../fontFaces' as *;

.nav-bar {
  background-color: $bandSite-black;
  display: flex;
  height: 75px;
  padding-top: 16px;

  &__logo-block {
    max-height: 20px;
    max-width: 120px;
    width: 120px;
    height: 20px;
    background-color: $bandSite-black;
  }

  &__logo {
    width: 120px;
    height: 20px;
  }

  &__right {
    display: flex;
  }

  &__link {
    color: $mercury;
    font-size: 0.875rem;
  }

  &__link--active {
    color: $white;
    font-family: 'Avenir Demi';
  }

  &__link-holder--active {
    border-bottom: solid 4px $white;
  }

  &__link-holder:hover {
    border-bottom: solid 4px $white;

    .nav-bar__link {
      color: $white;
      font-family: 'Avenir Demi';
    }
  }
}

/* for small layout */
@include small() {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__right {
      width: 100%;
      justify-content: space-between;
    }

    &__link-holder {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 16px;
    }
  }
}

/* Medium Layout */

@include medium() {
  .nav-bar {
    align-items: flex-end;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 4px;

    &__left {
      height: 70%;
    }

    &__right {
      height: 70%;
      margin-left: 20px;
    }

    &__link-holder {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-left: 48px;
    }
  }
}

/* Large layout */

@include large() {
  .nav-bar {
    padding-left: 126px;
    padding-right: 126px;
    align-items: flex-end;
    padding-bottom: 4px;

    &__left {
      height: 70%;
    }

    &__right {
      height: 70%;
      margin-left: 20px;
    }

    &__link-holder {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-left: 48px;
    }
  }
}
