@use '../breakpoints' as *;
@use '../colours' as *;
@use '../fontFaces' as *;

.nav-bar {
  background-color: $bandSite-black;
  display: flex;
  height: 75px;
  padding-top: 16px;

  .nav-bar__logo-block {
    max-height: 20px;
    max-width: 120px;
    width: 120px;
    height: 20px;
    background-color: $bandSite-black;

    .nav-bar__logo {
      width: 120px;
      height: 20px;
    }
  }

  .nav-bar__right {
    display: flex;

    .nav-bar__link-holder--active {
      border-bottom: solid 4px $white;
    }

    .nav-bar__link {
      color: $mercury;
      font-size: 0.875rem;
    }

    .nav-bar__link-holder:hover {
      border-bottom: solid 4px $white;

      .nav-bar__link {
        color: $white;
        font-family: 'Avenir Demi';
      }
    }

    .nav-bar__link--active {
      color: $white;
      font-family: 'Avenir Demi';
    }
  }
}

/* for small layout */
@include small() {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .nav-bar__right {
      width: 100%;
      justify-content: space-between;

      .nav-bar__link-holder {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
      }
    }
  }

  .hero__background {
    padding-left: 16px;

    .hero-title {
      color: $white;
      font-size: 1.5rem;
    }
  }
}

/* Medium Layout */

@include medium() {
  .nav-bar {
    align-items: flex-end;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 4px;

    .nav-bar__left {
      height: 70%;
    }

    .nav-bar__right {
      height: 70%;

      .nav-bar__link-holder {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 24px;
      }
    }
  }
}

/* Large layout */

@include large() {
  .nav-bar {
    padding-left: 63px;
    padding-right: 63px;
    align-items: flex-end;
    padding-bottom: 4px;

    .nav-bar__left {
      height: 70%;
    }

    .nav-bar__right {
      height: 70%;

      .nav-bar__link-holder {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 24px;
      }
    }
  }
}
