@use '../breakpoints' as *;
@use '../colours' as *;
@use '../fontFaces' as *;

.photo-gallery {
  display: flex;
  background-color: $Alabaster;
  flex-direction: column;

  &__header {
    font-family: 'Avenir Demi';
  }
}
/* for small layout */
@include small() {
  .photo-gallery {
    &__header {
      font-size: 1.5rem;
      padding-left: 16px;
      padding-top: 24px;
      padding-bottom: 16px;
      margin: 0;
    }

    &__container {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__photo {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 16px;
    }
  }
}

/* Medium Layout */

@include medium() {
  .photo-gallery {
    padding-bottom: 16px;
    &__header {
      font-size: 3.75rem;
      padding-left: 36px;
      padding-top: 48px;
      padding-bottom: 36px;
      margin: 0;
    }

    &__container {
      display: flex;
      padding-left: 36px;
      padding-right: 36px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__photo {
      width: 31%;
      height: auto;
      object-fit: cover;
      margin-bottom: 25px;
    }
  }
}

/* Large layout */

@include large() {
  .photo-gallery {
    padding-bottom: 12px;
    &__header {
      font-size: 3.75rem;
      padding-left: 126px;
      padding-top: 48px;
      padding-bottom: 36px;
      margin: 0;
    }

    &__container {
      display: flex;
      padding-left: 126px;
      padding-right: 126px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__photo {
      width: 32%;
      height: auto;
      object-fit: cover;
      margin-bottom: 36px;
    }
  }
}
